Nivell 1

- Exercici 1 - Una variable numèrica.

In [ ]:
#importacion
import pandas as pd
import mysql.connector

conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='1234',
    database='sprint4',
    auth_plugin='mysql_native_password'
)

query="""
SELECT product_id,count(product_id) as cantidad
FROM transactions_products 
JOIN transaction on id = transaction_id 
WHERE declined=0
group by product_id
"""
n1ej1=pd.read_sql(query,conn)

#grafico
import seaborn as seab
import matplotlib.pyplot as plt

plt.figure(figsize=(10, 5))
plt.tight_layout()
seab.set_theme()
seab.countplot(data=dataset, x='product_id',order=dataset["product_id"].value_counts().index) 
plt.xlabel('ID Producto', fontsize=14)
plt.ylabel("Cantidad vendida", fontsize=14)
plt.show()

- Exercici 2 - Dues variables numèriques.

In [ ]:
#importacion
import pandas as pd
import mysql.connector

conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='1234',
    database='sprint4',
    auth_plugin='mysql_native_password'
)
query="""
SELECT product_id, count(product_id) as cantidad, count(*) * CAST(REPLACE(price, '$', '') AS DECIMAL(10,2)) as suma
FROM transactions_products
JOIN transaction on id = transaction_id 
join products on product_id = products.id
WHERE declined=0
GROUP BY product_id
"""
nv1ej2 = pd.read_sql(query, conn)

#grafico
import pandas as pd
import seaborn as seab
import matplotlib.pyplot as plt

seab.set_theme()
plt.scatter(dataset['cantidad'], dataset['suma'])
plt.xlabel('Cantidad de cada producto')
plt.ylabel('Total en dolares')
plt.title('Relación entre cantidad de producto y cantidad en dolares')
plt.show()

- Exercici 3 - Una variable categòrica.

In [ ]:
#importacion
import pandas as pd
import mysql.connector

conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='1234',
    database='sprint4',
    auth_plugin='mysql_native_password'
)
query = """
SELECT country , count(country) AS cantPais
FROM companies
GROUP BY country
"""
nv1ej3 = pd.read_sql(query, conn)

#grafico
import pandas as pd
import matplotlib.pyplot as plt

df_top = dataset.sort_values(by="cantPais", ascending=False)

plt.figure(figsize=(6,6))
plt.pie(
    df_top['cantPais'], 
    labels=df_top['country'].astype(str), 
    autopct='%1.1f%%', 
    startangle=45,
    wedgeprops={'edgecolor': 'green'}
)
plt.axis('equal') 
plt.tight_layout()
plt.show()

- Exercici 4 - Una variable categòrica i una numèrica.

In [ ]:
#importacion
import pandas as pd
import mysql.connector

conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='1234',
    database='sprint4',
    auth_plugin='mysql_native_password'
)
query="""
SELECT company_id, sum(amount) as suma
FROM companies
JOIN transaction on company_id = business_id 
WHERE declined=0
GROUP BY company_id
"""
nv1ej4 = pd.read_sql(query, conn)

#grafico
import seaborn as seab
import matplotlib.pyplot as plt

plt.figure(figsize=(10,5))
seab.set_theme()
order = dataset.sort_values(by='suma', ascending=False)['company_id']
plt.yscale("log")
plt.xticks(rotation=90) 
seab.barplot(data=dataset, x='company_id',y='suma',order=order) 
plt.tight_layout(pad=2)
plt.xlabel('ID Compañia')
plt.ylabel("Cantidad en dolares")
plt.show()

- Exercici 5 - Dues variables categòriques.

In [ ]:
#importacion
import pandas as pd
import mysql.connector

conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='1234',
    database='sprint4',
    auth_plugin='mysql_native_password'
)
query="""
SELECT users.country as userCountry, companies.country as companyCountry, user_id , company_id
FROM users
JOIN transaction on users.id=user_id
JOIN companies on company_id = business_id 
WHERE declined=0
"""
nv1ej5 = pd.read_sql(query, conn)

#grafico
import pandas as pd
import seaborn as seab
import matplotlib.pyplot as plt

seab.set_theme()
plt.figure(figsize=(15, 8)) 
seab.countplot(data=dataset,  x='userCountry', hue='companyCountry',legend=1)
plt.tight_layout(pad=2)
plt.xlabel('País del usuario', fontsize=16)
plt.ylabel("Cantidad", fontsize=16)
plt.show()

- Exercici 6 - Tres variables.

In [ ]:
#importacion
import pandas as pd
import mysql.connector

conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='1234',
    database='sprint4',
    auth_plugin='mysql_native_password'
)
query="""
SELECT company_id, country, sum(amount) as suma
FROM companies
JOIN transaction on company_id = business_id 
WHERE declined=0
GROUP BY company_id, country
"""
nv1ej6 = pd.read_sql(query, conn)

#grafico
import pandas as pd
import seaborn as seab
import matplotlib.pyplot as plt
seab.set_theme()
plt.tight_layout()
g=seab.catplot(data=dataset, x="country", y="suma", kind="swarm",height=6, aspect=2)
g.set_xticklabels(rotation=45)

plt.ylabel("Total en dolares", fontsize=14)
plt.xlabel("País", fontsize=14)
plt.show()

- Exercici 7 - Graficar un Pairplot.

In [ ]:
#importacion
import pandas as pd
import mysql.connector

conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='1234',
    database='sprint4',
    auth_plugin='mysql_native_password'
)
query="""
SELECT count(product_id) as conteo , amount as total, transaction_id
FROM transaction
JOIN transactions_products on transaction_id = transaction.id
JOIN products on products.id = product_id
JOIN companies on company_id=business_id
WHERE declined=0
group by transaction_id
"""
nv1ej7 = pd.read_sql(query, conn)

#grafico
import pandas as pd
import seaborn as seab
import matplotlib.pyplot as plt
plt.tight_layout(pad=2)
seab.set_theme()
g=seab.pairplot(dataset,size=4)
for ax in g.axes.flatten():
    ax.set_xlabel(ax.get_xlabel(), fontsize=16)
    ax.set_ylabel(ax.get_ylabel(), fontsize=16)
    ax.tick_params(axis='both', labelsize=10)
plt.show()

Nivell 2

- Exercici 1 - Correlació de totes les variables numèriques.

In [ ]:
#importacion
import pandas as pd
import mysql.connector

conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='1234',
    database='sprint4',
    auth_plugin='mysql_native_password'
)
query="""
SELECT transaction_id, COUNT(product_id) as cantidadProductos, AVG(weight) as averageWeigth, max(amount) as total$, AVG(CAST(REPLACE(price, '$', '') AS DECIMAL(10,2))) AS averagePrice
FROM transaction
JOIN transactions_products ON transaction_id = transaction.id
JOIN products ON products.id = product_id
JOIN companies ON company_id = business_id
WHERE declined = 0
GROUP BY transaction_id
"""
nv2ej1 = pd.read_sql(query, conn)

#grafico
import pandas as pd
import seaborn as seab
import matplotlib.pyplot as plt
seab.set_theme()
g=seab.pairplot(dataset, height=4)
for ax in g.axes.flatten():
    ax.set_xlabel(ax.get_xlabel(), fontsize=18)
    ax.set_ylabel(ax.get_ylabel(), fontsize=18)

plt.show()

- Exercici 2 - Implementa un jointplot

In [ ]:
#importacion
import pandas as pd
import mysql.connector

conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='1234',
    database='sprint4',
    auth_plugin='mysql_native_password'
)
query="""
SELECT weight as peso, amount as total, transaction.id
FROM transaction
JOIN transactions_products ON transaction_id = transaction.id
JOIN products ON products.id = product_id
WHERE declined = 0
"""

nv2ej2 = pd.read_sql(query, conn)
#grafico
import pandas as pd
import seaborn as seab
import matplotlib.pyplot as plt

seab.set_theme()
g=seab.jointplot(data=dataset, x="total", y="peso") 
g.ax_joint.set_xlabel("Cantidad en dólares", fontsize=16)
g.ax_joint.set_ylabel("Peso del producto", fontsize=16)

plt.show()

Nivell 3

- Exercici 1 - Implementa un violinplot combinat amb un altre tipus de gràfic.

In [ ]:
#importacion
import pandas as pd
import mysql.connector

conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='1234',
    database='sprint4',
    auth_plugin='mysql_native_password'
)
query="""
SELECT users.country as country, amount, transaction.id
FROM transaction
JOIN users on users.id=user_id
join companies on company_id=business_id
WHERE declined = 0
"""
nv3ej1 = pd.read_sql(query, conn)

#grafico
import pandas as pd
import seaborn as seab
import matplotlib.pyplot as plt
seab.set_theme()

seab.violinplot(data=dataset, x="country", y='amount', inner=None, color="lightgray")
seab.stripplot(data=dataset, x='country', y='amount', color='black', size=3, jitter=True)

plt.tight_layout()
plt.ylabel("Dolares" , fontsize=13)
plt.xlabel("País", fontsize=13)
plt.show()

- Exercici 2 - Genera un FacetGrid per a visualitzar múltiples aspectes de les dades simultàniament.

In [ ]:
#importacion
import pandas as pd
import mysql.connector

conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='1234',
    database='sprint4',
    auth_plugin='mysql_native_password'
)
query="""
SELECT users.country as userCountry, companies.country as companyCountry, sum(amount) as total, transaction.id
FROM transaction
JOIN users on users.id=user_id
join companies on company_id=business_id
WHERE declined = 0
group by userCountry,companyCountry,transaction.id
"""
nv3ej2 = pd.read_sql(query, conn)

#grafico
import pandas as pd
import seaborn as seab
import matplotlib.pyplot as plt

df_agg = dataset.groupby(["userCountry", "companyCountry"], as_index=False)["total"].sum()
seab.set_theme()
g = seab.FacetGrid(df_agg, col="userCountry", height=4, aspect=1.2)
g.map_dataframe(seab.barplot, x="companyCountry", y='total')
g.set_xticklabels(rotation=90)
plt.tight_layout()
g.fig.suptitle("Países de las compañías donde los usuarios gastan el dinero", y=1.05, x=0.54)
plt.show()